Repository codestates-seb/seb43_main_016, pull requests merged in 2023-05, with the labels that each got.

#31 feat : JWT 구현 + 인증 예외처리
  server/edusync/src/main/java/com/codestates/edusync/audit/utils/ErrorResponder.java
  server/edusync/src/main/java/com/codestates/edusync/auth/dto/LoginDto.java
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtAuthenticationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtVerificationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAccessDeniedHandler.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAuthenticationEntryPoint.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAuthenticationFailureHandler.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAuthenticationSuccessHandler.java
  server/edusync/src/main/java/com/codestates/edusync/auth/jwt/JwtTokenizer.java
  server/edusync/src/main/java/com/codestates/edusync/config/SecurityConfiguration.java
  server/edusync/src/main/java/com/codestates/edusync/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberJoinResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/response/ErrorResponse.java
Labels: BE

#32 feat : JWT, Member Skeleton 마무리
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtAuthenticationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtVerificationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/refresh/RefreshController.java
  server/edusync/src/main/java/com/codestates/edusync/auth/userdetails/MemberDetailsService.java
  server/edusync/src/main/java/com/codestates/edusync/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberJoinResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/mapper/MemberMapper.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/util/JwtUtil.java
Labels: BE

#33 feat : login 기능 + 회원관련 기본 CRUD 구현
  server/edusync/.gitignore
  server/edusync/build.gradle
  server/edusync/gradle/wrapper/gradle-wrapper.jar
  server/edusync/gradle/wrapper/gradle-wrapper.properties
  server/edusync/gradlew
  server/edusync/gradlew.bat
  server/edusync/settings.gradle
  server/edusync/src/main/java/com/codestates/edusync/EdusyncApplication.java
  server/edusync/src/main/java/com/codestates/edusync/audit/Auditable.java
  server/edusync/src/main/java/com/codestates/edusync/audit/utils/ErrorResponder.java
  server/edusync/src/main/java/com/codestates/edusync/auth/dto/LoginDto.java
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtAuthenticationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtVerificationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAccessDeniedHandler.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAuthenticationEntryPoint.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAuthenticationFailureHandler.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAuthenticationSuccessHandler.java
  server/edusync/src/main/java/com/codestates/edusync/auth/jwt/JwtTokenizer.java
  server/edusync/src/main/java/com/codestates/edusync/auth/refresh/RefreshController.java
  server/edusync/src/main/java/com/codestates/edusync/auth/userdetails/MemberDetailsService.java
  server/edusync/src/main/java/com/codestates/edusync/auth/utils/CustomAuthorityUtils.java
  server/edusync/src/main/java/com/codestates/edusync/config/SecurityConfiguration.java
  server/edusync/src/main/java/com/codestates/edusync/dto/MultiResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/dto/PageInfo.java
  server/edusync/src/main/java/com/codestates/edusync/exception/BusinessLogicException.java
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/exception/Response/Response.java
  server/edusync/src/main/java/com/codestates/edusync/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberJoinResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/member/mapper/MemberMapper.java
  server/edusync/src/main/java/com/codestates/edusync/member/repository/MemberRepository.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/response/ErrorResponse.java
  server/edusync/src/main/java/com/codestates/edusync/util/JwtUtil.java
  server/edusync/src/main/java/com/codestates/edusync/util/UriCreator.java
  server/edusync/src/main/resources/application-server.yml
  server/edusync/src/main/resources/application.yml
  server/edusync/src/test/java/com/codestates/edusync/EdusyncApplicationTests.java
Labels: BE

#37 feat : 배포용 shell script 추가
  server/edusync/background_run_app.sh
  server/edusync/run_app.sh
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/stop8080.sh
Labels: BE

#50 docs : README.md 프론트엔드 기술 스택 수정
  README.md
Labels: documentation

#54 feat : 소개글 작성, 수정, 조회 추가
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtVerificationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/refresh/RefreshController.java
  server/edusync/src/main/java/com/codestates/edusync/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberJoinResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/util/JwtUtil.java
Labels: BE

#55 fix : 토큰헤더 변경
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtAuthenticationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtVerificationFilter.java
Labels: BE

#58 fix : 잘못된 토큰일 경우 401 반환하도록 수정
  server/edusync/src/main/java/com/codestates/edusync/audit/utils/ErrorResponder.java
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtVerificationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAccessDeniedHandler.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAuthenticationEntryPoint.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAuthenticationFailureHandler.java
Labels: BE

#68 fix : location을 클래스메이트로 이동 (member에서 삭제)
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberJoinResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
Labels: BE

#71 feat : member 인터페이스 구현
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/util/VerifyMember.java
Labels: BE

#72 bug : 토큰헤더 미포함해도 검증 통과하는 버그 수정
  server/edusync/src/main/java/com/codestates/edusync/audit/utils/ErrorResponder.java
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtVerificationFilter.java
Labels: BE

#73 fix : 본인확인 방법 수정
  server/edusync/src/main/java/com/codestates/edusync/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/util/JwtUtil.java
  server/edusync/src/main/java/com/codestates/edusync/util/VerifyMember.java
Labels: BE

#75 엔티티 매핑 이름 수정
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/entity/Classmate.java
Labels: BE, rename

#77 Feat be/dto - ResponseDto 추가, 연관 entity 추가 및 수정
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/dto/SearchTagResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/entity/SearchTag.java
  server/edusync/src/main/java/com/codestates/edusync/study/calendarinfo/dto/CalendarInfoSingleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/calendarinfo/entity/CalendarInfo.java
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/dto/ClassmateResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/entity/Classmate.java
  server/edusync/src/main/java/com/codestates/edusync/study/locationinfo/entity/LocationInfo.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/classmate/dto/CalendarClassmateResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/dto/CalendarStudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/timeschedule/dto/TimeScheduleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/timeschedule/dto/TimeScheduleSingleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/timeschedule/entity/TimeSchedule.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/dto/StudyPostCommentResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/entity/Studygroup.java
  server/edusync/src/main/java/com/codestates/edusync/study/studyjoin/dto/StudygroupJoinResponseDto.java
Labels: enhancement, BE

#76 feat : 구글 로그인, 회원가입 추가
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtVerificationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/OAuth2MemberSuccessHandler.java
  server/edusync/src/main/java/com/codestates/edusync/config/SecurityConfiguration.java
  server/edusync/src/main/resources/application-server.yml
  server/edusync/src/main/resources/application.yml
Labels: BE, security

#79 feat: ArrayList 초기화 빠져있던 곳 수정
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/entity/Classmate.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/entity/CalendarStudygroup.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/entity/Studygroup.java
Labels: bug, BE

#81 Be feat/dto - studygroup Post, Patch Dto 추가
  server/edusync/src/main/java/com/codestates/edusync/infodto/calendarinfo/dto/CalendarInfoDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/calendarinfo/dto/CalendarInfoSingleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/calendarinfo/entity/CalendarInfo.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/locationinfo/dto/LocationInfoDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/locationinfo/entity/LocationInfo.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/timeschedule/dto/TimeScheduleInfoDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/timeschedule/dto/TimeScheduleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/timeschedule/dto/TimeScheduleSingleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/timeschedule/entity/TimeSchedule.java
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/entity/Classmate.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/classmate/dto/CalendarClassmateResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/classmate/entity/CalendarClassmate.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/dto/CalendarStudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/entity/CalendarStudygroup.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/entity/Studygroup.java
  server/edusync/src/main/resources/application.yml
Labels: enhancement, BE, rename, move

#82 Be feat/dto - 나머지 Post, Patch Dto 추가
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/classmate/dto/CalendarClassmateDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/dto/CalendarStudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/dto/StudyPostCommentDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupDto.java
Labels: enhancement, BE

#84 feat : 비밀번호 확인 api 추가
  server/edusync/src/main/java/com/codestates/edusync/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
Labels: BE

#85 fix : 비밀번호 비교 방법 수정
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
Labels: BE, user

#87 Feat: 스터디 목록 페이지, 스터디 내용 페이지
  client/index.html
  client/src/App.tsx
  client/src/GlobalStyle.tsx
  client/src/components/StudyComment.tsx
  client/src/components/StudyListBox.tsx
  client/src/pages/Login.tsx
  client/src/pages/SignUp.tsx
  client/src/pages/StudyContent.tsx
  client/src/pages/StudyList.tsx
Labels: FE

#88 fix : 모든 FATCH요청 단일변경 가능하게 수정
  server/edusync/src/main/java/com/codestates/edusync/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
Labels: BE, user

#89 Be feat/entity - 연관관계 수정
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/entity/Classmate.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/entity/StudyPostComment.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/entity/Studygroup.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/entity/StudygroupClassmateRef.java
Labels: BE, remove

#96 Be feat/interface - 인터페이스 틀 추가
  server/edusync/src/main/java/com/codestates/edusync/searchtag/utils/SearchTagManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/utils/ClassmateManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/utils/CalendarManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/utils/StudygroupPostCommentManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/utils/StudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/studyjoin/utils/StudygroupJoinManager.java
Labels: enhancement, help wanted, BE

#97 캘린더 데이터 맵핑 및 이벤트 추가 구현
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/AddEvent.tsx
  client/src/components/ProfileImg.tsx
  client/src/components/calender/FullcalenderType.ts
  client/src/components/calender/fullcalender.tsx
  client/src/pages/MyStudyList.tsx
  client/src/pages/MyStudyManage.tsx
  server/edusync/.gitignore
  server/edusync/background_run_app.sh
  server/edusync/build.gradle
  server/edusync/gradle/wrapper/gradle-wrapper.jar
  server/edusync/gradle/wrapper/gradle-wrapper.properties
  server/edusync/gradlew
  server/edusync/gradlew.bat
  server/edusync/run_app.sh
  server/edusync/settings.gradle
  server/edusync/src/main/java/com/codestates/edusync/EdusyncApplication.java
  server/edusync/src/main/java/com/codestates/edusync/audit/Auditable.java
  server/edusync/src/main/java/com/codestates/edusync/audit/utils/ErrorResponder.java
  server/edusync/src/main/java/com/codestates/edusync/auth/dto/LoginDto.java
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtAuthenticationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/filter/JwtVerificationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAccessDeniedHandler.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAuthenticationEntryPoint.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAuthenticationFailureHandler.java
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/MemberAuthenticationSuccessHandler.java
  server/edusync/src/main/java/com/codestates/edusync/auth/jwt/JwtTokenizer.java
  server/edusync/src/main/java/com/codestates/edusync/auth/refresh/RefreshController.java
  server/edusync/src/main/java/com/codestates/edusync/auth/userdetails/MemberDetailsService.java
  server/edusync/src/main/java/com/codestates/edusync/auth/utils/CustomAuthorityUtils.java
  server/edusync/src/main/java/com/codestates/edusync/config/SecurityConfiguration.java
  server/edusync/src/main/java/com/codestates/edusync/dto/MultiResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/dto/PageInfo.java
  server/edusync/src/main/java/com/codestates/edusync/exception/BusinessLogicException.java
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/exception/Response/Response.java
  server/edusync/src/main/java/com/codestates/edusync/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberJoinResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/member/mapper/MemberMapper.java
  server/edusync/src/main/java/com/codestates/edusync/member/repository/MemberRepository.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/response/ErrorResponse.java
  server/edusync/src/main/java/com/codestates/edusync/util/JwtUtil.java
  server/edusync/src/main/java/com/codestates/edusync/util/UriCreator.java
  server/edusync/src/main/resources/application-server.yml
  server/edusync/src/main/resources/application.yml
  server/edusync/src/test/java/com/codestates/edusync/EdusyncApplicationTests.java
  server/edusync/stop8080.sh
Labels: FE

#100 Be feat/schema - 실행 전에 반드시 Build -> Clean 해야합니다.
  server/edusync/src/main/java/com/codestates/edusync/infodto/calendarinfo/dto/CalendarInfoDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/calendarinfo/dto/CalendarInfoSingleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/calendarinfo/entity/CalendarInfo.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/locationinfo/dto/LocationInfoDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/locationinfo/entity/LocationInfo.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/timeschedule/dto/TimeScheduleInfoDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/timeschedule/dto/TimeScheduleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/timeschedule/dto/TimeScheduleSingleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/timeschedule/entity/TimeSchedule.java
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/entity/SearchTag.java
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/entity/Classmate.java
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/mapper/ClassmateMapper.java
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/repository/ClassmateRepository.java
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/service/ClassmateService.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/classmate/entity/CalendarClassmate.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/classmate/repository/CalendarClassmateRepository.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/classmate/service/CalendarClassmateService.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/controller/CalendarStudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/entity/CalendarStudygroup.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/mapper/CalendarStudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/repository/CalendarStudygroupRepository.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/entity/StudygroupPostComment.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/entity/Studygroup.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/controller/StudygroupJoinController.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/dto/ClassmateResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/entity/StudygroupJoin.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/mapper/StudygroupJoinMapper.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/repository/StudygroupJoinRepository.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/service/StudygroupJoinService.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/utils/StudygroupJoinManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/studyjoin/dto/StudygroupJoinResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studyjoin/entity/StudygroupJoin.java
  server/edusync/src/main/java/com/codestates/edusync/study/studyjoin/utils/StudygroupJoinManager.java
  server/edusync/src/main/resources/application.yml
  server/edusync/src/main/resources/schema.sql
Labels: BE, rename, move, remove, fix

#101 Be feat/schema - 컬럼 추가
  server/edusync/src/main/resources/application.yml
  server/edusync/src/main/resources/schema.sql
Labels: enhancement, BE

#98 [FE] header & token login
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/GlobalStyle.tsx
  client/src/components/gnb/GNB.tsx
  client/src/components/gnb/User.tsx
  client/src/hooks/hooks.ts
  client/src/main.tsx
  client/src/pages/Login.tsx
  client/src/pages/SignUp.tsx
  client/src/pages/utils/Auth.ts
  client/src/recoil/atoms/myIdState.tsx
Labels: FE

#103 Be feat/schema - 엔티티에 schema 수정 내용 적용
  server/edusync/src/main/java/com/codestates/edusync/infodto/timeschedule/entity/TimeSchedule.java
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/entity/SearchTag.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/entity/StudygroupPostComment.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/entity/Studygroup.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/entity/StudygroupJoin.java
  server/edusync/src/main/resources/application.yml
Labels: BE, fix

#105 Feat/studypost : 스터디 모집글 작성 POST 구현중
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/ckeditor.d.ts
  client/src/components/TextEditor.tsx
  client/src/pages/Calendar.tsx
  client/src/pages/Profile.tsx
  client/src/pages/StudyList.tsx
  client/src/pages/StudyPost.tsx
Labels: FE

#106 Be feat/interface - 캘린더, 태그, 댓글 인터페이스 추가
  server/edusync/src/main/java/com/codestates/edusync/searchtag/utils/SearchTagManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/utils/CalendarManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/utils/CalendarStudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/controller/StudygroupPostCommentController.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/dto/StudygroupPostCommentDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/dto/StudygroupPostCommentResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/utils/StudygroupPostCommentManager.java
Labels: enhancement, BE, rename, fix

#107 search Tag, StudygroupPostComment 구현
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/infodto/timeschedule/dto/TimeScheduleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/controller/SearchTagController.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/dto/SearchTagResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/mapper/SearchTagMapper.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/repository/SearchTagRepository.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/service/SearchTagService.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/controller/CalendarStudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/dto/CalendarDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/mapper/CalendarStudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/repository/CalendarStudygroupRepository.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/utils/CalendarStudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/controller/StudygroupPostCommentController.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/dto/StudygroupPostCommentResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/repository/StudygroupPostCommentRepository.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/service/StudygroupPostCommentService.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/utils/StudygroupPostCommentManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/mapper/StudygroupMapper.java
Labels: enhancement, BE, fix

#113 [BE] Study 기본 기능 초기 설정
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/entity/Studygroup.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/service/StudygroupService.java
Labels: help wanted, BE

#115 [BE] study 기능 테스트 및 태그 기능 연동 테스트
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/entity/SearchTag.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/service/SearchTagService.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/utils/SearchTagManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/service/StudygroupService.java
Labels: help wanted, BE

#116 fix : tagDto 이름 변경
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/mapper/StudygroupMapper.java
Labels: BE

#118 fix : 배포용 yml 설정 변경
  server/edusync/src/main/resources/application-server.yml
Labels: BE

#122 [BE] feat: 스터디 조회 기능 테스트 완료
  server/edusync/src/main/java/com/codestates/edusync/searchtag/repository/SearchTagRepository.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/service/SearchTagService.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/service/StudygroupService.java
Labels: BE

#129 feat : 타인 조회 api요청 처리 로직 추가
  server/edusync/src/main/java/com/codestates/edusync/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/dto/MemberJoinResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/member/repository/MemberRepository.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/resources/schema.sql
Labels: BE, user

#130 [구현] 태그 검색 기능 추가
  server/edusync/src/main/java/com/codestates/edusync/searchtag/controller/SearchTagController.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/dto/SearchTagDto.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/mapper/SearchTagMapper.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/repository/SearchTagRepository.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/service/SearchTagService.java
  server/edusync/src/main/java/com/codestates/edusync/searchtag/utils/SearchTagManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/mapper/StudygroupMapper.java
Labels: enhancement, BE

#131 Main -> Dev -> Be 순으로 브랜치 Pull 하며 Merge 작업 했습니다.
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/dto/CalendarDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/service/CalendarStudygroupService.java
Labels: BE, fix

#133 Feat: 스터디 모집 POST 초안
  client/src/components/TextEditor.tsx
  client/src/pages/StudyPost.tsx
Labels: FE

#134 Fix: build 위한 error 해결
  client/src/pages/StudyPost.tsx
Labels: FE

#132 studygroup 모집정보에 현재인원 항목 추가
  server/edusync/src/main/java/com/codestates/edusync/advice/GlobalException.java
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/entity/Studygroup.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/resources/schema.sql
Labels: enhancement, BE

#136 fix : oauth2 로그인 리다이렉트 주소 변경
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/OAuth2MemberSuccessHandler.java
Labels: BE, security

#140 fix : oauth2 로그인 리다이렉트 주소 변경
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/OAuth2MemberSuccessHandler.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/resources/application-server.yml
Labels: BE

#141 [BE] 스터디 가입 관리 기능 추가 및 테스트 완료
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/study/classmate/entity/Classmate.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/controller/StudygroupJoinController.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/dto/ClassmateResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/dto/StudygroupJoinDto.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/entity/StudygroupJoin.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/mapper/StudygroupJoinMapper.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/repository/StudygroupJoinRepository.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/service/StudygroupJoinService.java
Labels: BE

#144 [BE] 스터디 가입 관리 기능 추가 수정 및 테스트 완료
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/mapper/StudygroupJoinMapper.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/repository/StudygroupJoinRepository.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/service/StudygroupJoinService.java
Labels: BE

#143 feat : 네이버 로그인 추가
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/OAuth2MemberSuccessHandler.java
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/resources/application-server.yml
  server/edusync/src/main/resources/application.yml
Labels: BE, user, security

#156 fix : 토큰값 Bearer 누락 수정
  server/edusync/src/main/java/com/codestates/edusync/auth/handler/OAuth2MemberSuccessHandler.java
Labels: BE, security

#163 [로직이동] 검증 로직을 Utils 로 이동
  server/edusync/src/main/java/com/codestates/edusync/globalutils/VerifyStudygroupCalendarUtils.java
  server/edusync/src/main/java/com/codestates/edusync/globalutils/VerifyStudygroupJoinUtils.java
  server/edusync/src/main/java/com/codestates/edusync/globalutils/VerifyStudygroupPostCommentUtils.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/utils/CalendarStudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/service/StudygroupPostCommentService.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/service/StudygroupJoinService.java
Labels: enhancement, BE, rename, move, remove, fix

#165 fix : member 기능 인터페이스화
  server/edusync/src/main/java/com/codestates/edusync/globalutils/MemberVerifiable.java
  server/edusync/src/main/java/com/codestates/edusync/globalutils/MemberVerifiableUtils.java
  server/edusync/src/main/java/com/codestates/edusync/globalutils/VerifyMember.java
  server/edusync/src/main/java/com/codestates/edusync/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/member/repository/MemberRepository.java
  server/edusync/src/main/java/com/codestates/edusync/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/service/StudygroupJoinService.java
Labels: BE, user

#164 Controller 에서 Authentication 필요한 부분은 명시적으로 변경
  server/edusync/src/main/java/com/codestates/edusync/globalutils/SearchTagVerifiable.java
  server/edusync/src/main/java/com/codestates/edusync/globalutils/StudygroupCalendarVerifiable.java
  server/edusync/src/main/java/com/codestates/edusync/globalutils/StudygroupJoinVerifiable.java
  server/edusync/src/main/java/com/codestates/edusync/globalutils/StudygroupPostCommentVerifiable.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/controller/CalendarStudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/utils/CalendarStudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/controller/StudygroupPostCommentController.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/service/StudygroupPostCommentService.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/utils/StudygroupPostCommentManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/controller/StudygroupJoinController.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/service/StudygroupJoinService.java
Labels: enhancement, BE

#166 Be refactor/rename
  server/edusync/src/main/java/com/codestates/edusync/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/controller/CalendarStudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/controller/StudygroupPostCommentController.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/controller/StudygroupJoinController.java
Labels: BE

#167 [BE] 스터디 그룹 인터페이스 적용
  server/edusync/src/main/java/com/codestates/edusync/globalutils/StudygroupVerifiable.java
  server/edusync/src/main/java/com/codestates/edusync/globalutils/VerifyStudygroupUtils.java
  server/edusync/src/main/java/com/codestates/edusync/study/plancalendar/studygroup/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/study/postcomment/service/StudygroupPostCommentService.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroup/utils/StudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/controller/StudygroupJoinController.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/repository/StudygroupJoinRepository.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/service/StudygroupJoinService.java
  server/edusync/src/main/java/com/codestates/edusync/study/studygroupjoin/utils/StudygroupJoinManager.java
Labels: BE

#168 comment : 설명 주석 위치 구현체 -> 인터페이스 이동
  server/edusync/src/main/java/com/codestates/edusync/globalutils/MemberVerifiable.java
  server/edusync/src/main/java/com/codestates/edusync/globalutils/MemberVerifiableUtils.java
Labels: BE, security

#170 [feat] 마이페이지 구현 완료
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/apis/MemberApi.ts
  client/src/apis/StudyGroupApi.ts
  client/src/components/ManageCalendar.tsx
  client/src/components/ManageMembers.tsx
  client/src/components/ManageRequestMembers.tsx
  client/src/components/ManageStudyInfo.tsx
  client/src/components/modal/UserInfoEditModal.tsx
  client/src/pages/ProfileInfo.tsx
  client/src/pages/ProfileStudyManage.tsx
Labels: FE

#179 [리펙터링] 메서드 이름 중복 제거
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarStudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/controller/StudygroupPostCommentController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/service/StudygroupPostCommentManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/service/StudygroupPostCommentService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/controller/StudygroupJoinController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinService.java
  server/edusync/src/main/java/com/codestates/edusync/model/studyaddons/searchtag/controller/SearchTagController.java
  server/edusync/src/main/java/com/codestates/edusync/model/studyaddons/searchtag/service/SearchTagManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/studyaddons/searchtag/service/SearchTagService.java
Labels: BE, rename, fix, refactor

#188 프론트엔드 최소사양 구현 브랜치 병합
  client/package-lock.json
  client/package.json
  client/public/mockServiceWorker.js
  client/src/App.tsx
  client/src/apis/MemberApi.ts
  client/src/apis/StudyGroupApi.ts
  client/src/components/modal/StudyInfoEditModal.tsx
  client/src/components/modal/UserInfoEditModal.tsx
  client/src/mocks/browser.ts
  client/src/mocks/handler.ts
  client/src/pages/ProfileInfo.tsx
  client/src/pages/ProfileStudyList.tsx
  client/src/pages/ProfileStudyManage.tsx
Labels: FE

#189 [구현] feat: flyway 적용
  server/edusync/build.gradle
  server/edusync/src/main/resources/application.yml
  server/edusync/src/main/resources/db/migration/V1.0__init.sql
Labels: BE

#190 fix: 엑세스토큰 만료시간 변경
  .github/labeler.yml
  .github/workflows/labeler.yml
  server/edusync/src/main/resources/application-server.yml
  server/edusync/src/main/resources/application.yml
Labels: BE

#194 [구현] fix: 스터디 모집상태 수정, 리턴값 수정
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
Labels: BE, fix, request

#196 [리펙터링] DTO 중복 단순화, service 에서 embedded 적용된 객체들 수정
  server/edusync/src/main/java/com/codestates/edusync/model/common/dto/DateRangeDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/dto/TimeRangeDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/entity/DateRange.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/entity/TimeRange.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/MemberUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/MemberVerificationManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/UriCreator.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupCalendarUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupJoinUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupPostCommentUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarStudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/CalendarDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/CalendarResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/TimeScheduleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/entity/TimeSchedule.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/mapper/CalendarStudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/controller/StudygroupPostCommentController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/service/StudygroupPostCommentService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/entity/Studygroup.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/controller/StudygroupJoinController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/entity/StudygroupJoin.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinService.java
  server/edusync/src/main/java/com/codestates/edusync/model/studyaddons/searchtag/entity/SearchTag.java
  server/edusync/src/main/resources/db/migration/V1.1__fix_studygroup_is_recruited.sql
Labels: BE, rename, fix

#197 [구현] 스터디 그룹 요일 포맷 수정
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupDto.java
Labels: BE, fix

#208 [구현] 스터디 모집 기능 #205
  server/edusync/src/main/java/com/codestates/edusync/model/common/dto/DateRangeDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/dto/TimeRangeDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/entity/Studygroup.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
Labels: BE, rename, fix, refactor

#210 [버그] 트랜잭션 문제 수정
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/MemberUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/MemberVerificationManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarStudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/controller/StudygroupPostCommentController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/service/StudygroupPostCommentManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/service/StudygroupPostCommentService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/controller/StudygroupJoinController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinService.java
Labels: bug, BE, fix

#199 [FE]Feat/login err
  client/src/App.tsx
  client/src/apis/EduApi.ts
  client/src/apis/TokenRequestApi.ts
  client/src/assets/google-icon.png
  client/src/assets/kakao-icon.png
  client/src/assets/naver-icon.png
  client/src/components/gnb/GNB.tsx
  client/src/components/social-login-button/GoogleButton.tsx
  client/src/components/social-login-button/KakaoButton.tsx
  client/src/components/social-login-button/NaverButton.tsx
  client/src/hooks/useRefreshToken.ts
  client/src/pages/Login.tsx
  client/src/pages/Redirect.tsx
  client/src/pages/SignUp.tsx
Labels: FE

#214 [BE] time_schedule 컬럼 네임 수정
  server/edusync/src/main/java/com/codestates/edusync/EdusyncApplication.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/entity/Auditable.java
  server/edusync/src/main/resources/db/migration/V1.2__fix_time_schedule.sql
Labels: BE, rename, fix

#215 feat: 리프래쉬 토큰 redis에 저장하는 기능 구현
  server/edusync/build.gradle
  server/edusync/src/main/java/com/codestates/edusync/config/SecurityConfiguration.java
  server/edusync/src/main/java/com/codestates/edusync/filter/JwtAuthenticationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/handler/OAuth2MemberSuccessHandler.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/MemberUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/MemberVerificationManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/repository/MemberRepository.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/redis/RedisConfig.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/refresh/RefreshController.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/refresh/RefreshToken.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/refresh/RefreshTokenRepository.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/token/TokenService.java
  server/edusync/src/main/resources/application-server.yml
  server/edusync/src/main/resources/application.yml
Labels: BE

#219 [BE] 스터디 가입 신청 시 예외 - DB스키마 수정 완료
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/resources/db/migration/V1.3__add_studygroup_join.sql
Labels: BE

#220 Feat: 스터디 모집 POST 1차 완성, 스터디 리스트 GET 구현중
  client/src/apis/StudyGroupApi.ts
  client/src/components/DaysOfWeek.tsx
  client/src/components/StudyListBox.tsx
  client/src/pages/StudyPost.tsx
Labels: FE

#221 [BE] Refactor/studygroup join
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupJoinUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/controller/StudygroupJoinController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinService.java
Labels: BE, fix, refactor

#217 feat: oauth2 회원 구분 api 추가
  server/edusync/src/main/java/com/codestates/edusync/config/redis/RedisConfig.java
  server/edusync/src/main/java/com/codestates/edusync/handler/OAuth2MemberSuccessHandler.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/service/MemberService.java
Labels: BE

#226 마이페이지 테스트 중 + 리프레시 토큰 오류 해결
  client/src/App.tsx
  client/src/apis/MemberApi.ts
  client/src/apis/StudyGroupApi.ts
  client/src/apis/TokenRequestApi.ts
  client/src/components/ProfileImg.tsx
  client/src/components/StudyComment.tsx
  client/src/components/gnb/GNB.tsx
  client/src/components/modal/UserInfoEditModal.tsx
  client/src/hooks/useRefreshToken.ts
  client/src/mocks/handler.ts
  client/src/pages/Profile.tsx
  client/src/pages/ProfileInfo.tsx
  client/src/pages/ProfileStudyList.tsx
  client/src/pages/ProfileStudyManage.tsx
Labels: FE

#228 feat: 로그아웃(RTK삭제) 기능 추가
  server/edusync/src/main/java/com/codestates/edusync/model/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/refresh/RefreshController.java
Labels: BE

#230 [BE] 스터디 리더 권한 위임 기능 추가
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/repository/StudygroupJoinRepository.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinService.java
Labels: BE, request

#236 [BE] 마이 스터디 조회 기능 추가
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudyListResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/repository/StudygroupRepository.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/controller/StudygroupJoinController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/repository/StudygroupJoinRepository.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinService.java
Labels: BE, request

#237 [최종] 개인 캘린더 추가
  server/edusync/build.gradle
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/dto/DateRangeDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/dto/TimeRangeDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/entity/TimeRange.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyTimeScheduleUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarMemberController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarStudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/CalendarMemberDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/CalendarMemberResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/CalendarStudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/CalendarStudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/TimeScheduleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/entity/TimeSchedule.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/mapper/CalendarMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarMemberService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/dto/StudygroupPostCommentDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/dto/StudygroupPostCommentResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/mapper/StudygroupPostCommentMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/resources/db/migration/V1.5__add_time_schedule_column_color.sql
  server/edusync/src/main/resources/db/migration/V1.6__add_time_schedule_column_description.sql
Labels: BE, fix

#238 [FE]태그 기능 일부 구현
  client/src/App.tsx
  client/src/components/TagDropdown.tsx
  client/src/components/TagInput.tsx
  client/src/components/gnb/User.tsx
  client/src/pages/Home.tsx
  client/src/pages/StudyPost.tsx
Labels: FE

#240 Feat/study manage fix
  client/src/App.tsx
  client/src/apis/StudyGroupApi.ts
  client/src/components/studyManage/MemberManage.tsx
  client/src/components/studyManage/StudyInfo.tsx
  client/src/test/TestPage.tsx
Labels: FE

#243 2차 세부사양 테스트 최종본
  client/src/App.tsx
  client/src/apis/StudyGroupApi.ts
  client/src/pages/ProfileStudyList.tsx
Labels: FE

#244 2차 세부사양 테스트 최종본 (#243)
  client/src/App.tsx
  client/src/apis/StudyGroupApi.ts
  client/src/pages/ProfileStudyList.tsx
Labels: FE

#257 [구현]Feat/tag기능 구현 완료했습니다.
  client/src/components/TagDropdown.tsx
  client/src/components/TagInput.tsx
  client/src/components/gnb/GNB.tsx
  client/src/components/gnb/User.tsx
  client/src/hooks/useRefreshToken.ts
  client/src/pages/SignUp.tsx
  client/src/pages/StudyPost.tsx
Labels: FE

#256 [구현] 스터디그룹 없이 태그 등록하는 엔드포인트 추가 (테스트용)
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/handler/OAuth2MemberSuccessHandler.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/MemberUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/TagFormatConverter.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/CommonStudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/dto/StudygroupResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/mapper/StudygroupMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/studyaddons/searchtag/controller/SearchTagController.java
  server/edusync/src/main/java/com/codestates/edusync/model/studyaddons/searchtag/dto/SearchTagDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/studyaddons/searchtag/dto/SearchTagResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/studyaddons/searchtag/mapper/SearchTagMapper.java
Labels: bug, enhancement, BE, FE, fix

#262 [구현] 예외처리 추가, StudygroupJoin 동작 추가
  server/edusync/src/main/java/com/codestates/edusync/exception/advice/GlobalException.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/entity/DateRange.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyCalendarUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarMemberController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarStudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/TimeScheduleInfoDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/TimeScheduleSingleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/mapper/CalendarMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/repository/CalendarRepository.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/utils/ScheduleConverter.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinService.java
  server/edusync/src/main/resources/db/migration/V1.7__fix_member_profile_image_type.sql
  server/edusync/src/test/java/com/codestates/edusync/model/study/studygroup/service/StudygroupServiceTest.java
  server/edusync/src/test/java/com/codestates/edusync/model/study/studygroup/utils/ScheduleConverterTest.java
Labels: BE, fix

#269 [구현] 댓글 (comment) CRUD 구현 완료
  client/src/App.tsx
  client/src/apis/CommentApi.ts
  client/src/apis/StudyGroupApi.ts
  client/src/apis/TokenRequestApi.ts
  client/src/components/StudyComment.tsx
  client/src/components/StudyCommentList.tsx
  client/src/components/TagInput.tsx
  client/src/pages/HTestPage.tsx
  client/src/pages/StudyPost.tsx
Labels: FE

#270 [BE] 스터디 그룹 수정
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/repository/StudygroupJoinRepository.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinService.java
Labels: BE, fix, refactor

#275 Feat: 스터디 리스트 GET 1차 완성
  client/package-lock.json
  client/package.json
  client/src/components/StudyListBox.tsx
  client/src/pages/StudyList.tsx
  client/src/pages/StudyPost.tsx
Labels: FE

#286 [자잘한 것 수정]
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarMemberService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CommonCalendarFeature.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/entity/StudygroupJoin.java
Labels: BE, fix, refactor

#287 스터디 관리 기능 구현 완료, CSS 작업 중
  client/src/App.tsx
  client/src/apis/CalendarApi.ts
  client/src/apis/MemberApi.ts
  client/src/apis/StudyGroupApi.ts
  client/src/components/ProfileImg.tsx
  client/src/components/WaitingList.tsx
  client/src/components/calendar/Calendar.tsx
  client/src/components/modal/CheckPasswordModal.tsx
  client/src/components/modal/ViewCalendarEvent.tsx
  client/src/mocks/handler.ts
  client/src/pages/Profile.tsx
  client/src/pages/ProfileInfo.tsx
  client/src/pages/ProfileStudyList.tsx
  client/src/pages/ProfileStudyManage.tsx
Labels: FE

#289 remove: tmi 코드설명 주석 제거
  server/edusync/src/main/java/com/codestates/edusync/config/SecurityConfiguration.java
  server/edusync/src/main/java/com/codestates/edusync/filter/JwtAuthenticationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/filter/JwtVerificationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/handler/MemberAccessDeniedHandler.java
  server/edusync/src/main/java/com/codestates/edusync/handler/MemberAuthenticationEntryPoint.java
  server/edusync/src/main/java/com/codestates/edusync/handler/OAuth2MemberSuccessHandler.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/entity/Member.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/repository/MemberRepository.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/jwt/JwtTokenizer.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/refresh/RefreshTokenRepository.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/token/TokenService.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/utils/CustomAuthorityUtils.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/utils/ErrorResponder.java
Labels: BE

#294 feat: member delete 복구 기능 추가
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/filter/JwtAuthenticationFilter.java
  server/edusync/src/main/java/com/codestates/edusync/handler/MemberAuthenticationFailureHandler.java
  server/edusync/src/main/java/com/codestates/edusync/handler/OAuth2MemberSuccessHandler.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/controller/MemberController.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/dto/LoginDto.java
  server/edusync/src/main/java/com/codestates/edusync/security/auth/userdetails/MemberDetailsService.java
Labels: BE

#298 Feat: 스터디 모집글 내용 조회, 삭제 1차 완성, 스터디 모집글 작성 예외처리 시작
  client/src/App.tsx
  client/src/apis/CommentApi.ts
  client/src/pages/ProfileStudyList.tsx
  client/src/pages/StudyContent.tsx
  client/src/pages/StudyList.tsx
  client/src/pages/StudyPost.tsx
Labels: enhancement, FE

#299 예외처리 작업 중
  client/src/apis/StudyGroupApi.ts
  client/src/components/WaitingList.tsx
  client/src/components/calendar/Calendar.tsx
  client/src/components/modal/StudyInfoEditModal.tsx
  client/src/components/modal/UserInfoEditModal.tsx
  client/src/components/modal/ViewCalendarEvent.tsx
  client/src/components/studyManage/CandidateManage.tsx
  client/src/components/studyManage/MemberManage.tsx
  client/src/pages/ProfileInfo.tsx
  client/src/pages/ProfileStudyList.tsx
  client/src/pages/ProfileStudyManage.tsx
Labels: FE

#296 feat: 탈퇴한 회원 회원가입 시도시 403반환
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/MemberUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/MemberVerificationManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/service/MemberService.java
Labels: BE

#305 feat: 홈 화면 시작
  client/src/pages/Home.tsx
Labels: FE

#306 중간 작업내용 병합
  client/src/apis/TokenRequestApi.ts
  client/src/components/TextEditor.tsx
  client/src/pages/StudyContent.tsx
  client/src/pages/StudyPost.tsx
Labels: FE

#309 Design: 홈 화면 1차 완성
  client/src/components/gnb/GNB.tsx
  client/src/pages/Home.tsx
Labels: FE

#310 [Feat]탈퇴회원 복구 기능
  client/src/components/modal/MemberRestoreModal.tsx
  client/src/pages/Login.tsx
  client/src/pages/ProfileInfo.tsx
  client/src/pages/SignUp.tsx
Labels: FE

#311 배포 전 병합파일입니다
  client/src/App.tsx
  client/src/components/TagInput.tsx
  client/src/components/modal/StudyInfoEditModal.tsx
  client/src/components/studyManage/CandidateManage.tsx
  client/src/hooks/useForceUpdate.ts
  client/src/pages/ProfileInfo.tsx
  client/src/pages/ProfileStudyManage.tsx
  client/src/pages/StudyContent.tsx
  client/src/pages/StudyPost.tsx
  client/src/pages/StudyUpdate.tsx
Labels: FE

#312 Design: 마이페이지 디자인 수정
  client/src/GlobalStyle.tsx
  client/src/components/ProfileImg.tsx
  client/src/components/gnb/GNB.tsx
  client/src/pages/Home.tsx
  client/src/pages/Profile.tsx
  client/src/pages/ProfileInfo.tsx
  client/src/pages/ProfileStudyList.tsx
  client/src/pages/StudyList.tsx
  package-lock.json
  package.json
Labels: FE

#315 개인 캘린더 일정 추가 및 에러 핸들러 수정, 스터디 그룹 일정 수정 구현
  client/package-lock.json
  client/package.json
  client/src/apis/CalendarApi.ts
  client/src/apis/StudyGroupApi.ts
  client/src/components/AddEvent.tsx
  client/src/components/calendar/Calendar.tsx
  client/src/components/modal/AddEvent.tsx
  client/src/mocks/handler.ts
  client/src/pages/StudyContent.tsx
  client/src/pages/StudyUpdate.tsx
Labels: FE

#322 Design: 마이페이지 UI 디자인 및 프로젝트 전반적 CSS 수정
  client/src/App.tsx
  client/src/components/Footer.tsx
  client/src/components/WaitingList.tsx
  client/src/components/gnb/GNB.tsx
  client/src/components/gnb/User.tsx
  client/src/components/studyManage/CandidateManage.tsx
  client/src/components/studyManage/MemberManage.tsx
  client/src/pages/Home.tsx
  client/src/pages/ProfileInfo.tsx
  client/src/pages/ProfileStudyList.tsx
  client/src/pages/ProfileStudyManage.tsx
  client/src/pages/StudyContent.tsx
  client/src/pages/StudyList.tsx
  client/src/pages/StudyPost.tsx
  client/src/pages/StudyUpdate.tsx
Labels: FE

#324 Feat: GNB 메뉴 버튼 추가, 스터디 관리 페이지 디자인 완성
  .vscode/extensions.json
  client/src/components/ListFilter.tsx
  client/src/components/WaitingList.tsx
  client/src/components/gnb/GNB.tsx
  client/src/components/studyManage/CandidateManage.tsx
  client/src/components/studyManage/MemberManage.tsx
  client/src/pages/Profile.tsx
  client/src/pages/ProfileCalendar.tsx
  client/src/pages/ProfileInfo.tsx
  client/src/pages/ProfileStudyList.tsx
  client/src/pages/ProfileStudyManage.tsx
  client/src/pages/StudyContent.tsx
  client/src/pages/StudyList.tsx
  client/src/pages/StudyPost.tsx
  client/src/pages/StudyUpdate.tsx
Labels: FE

#316 [구현] 스터디 리스트 필터링 작업 BE
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/utils/StudygroupGetOrder.java
Labels: enhancement, BE

#329 CORS 설정 변경
  server/edusync/src/docs.asciidoc/indix.adoc
  server/edusync/src/main/java/com/codestates/edusync/config/SecurityConfiguration.java
Labels: BE

#333 FE 작업내용 DEV로 올립니다!
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/GlobalStyle.tsx
  client/src/apis/CalendarApi.ts
  client/src/apis/CommentApi.ts
  client/src/apis/EduApi.ts
  client/src/apis/MemberApi.ts
  client/src/apis/StudyGroupApi.ts
  client/src/apis/TokenRequestApi.ts
  client/src/assets/studyImage.webp
  client/src/components/AddEvent.tsx
  client/src/components/Footer.tsx
  client/src/components/ListFilter.tsx
  client/src/components/ProfileImg.tsx
  client/src/components/StudyComment.tsx
  client/src/components/StudyCommentList.tsx
  client/src/components/StudyListBox.tsx
  client/src/components/StudyListTag.tsx
  client/src/components/TagDropdown.tsx
  client/src/components/TagInput.tsx
  client/src/components/TextEditor.tsx
  client/src/components/WaitingList.tsx
  client/src/components/calendar/Calendar.tsx
  client/src/components/gnb/GNB.tsx
  client/src/components/gnb/User.tsx
  client/src/components/modal/AddEvent.tsx
  client/src/components/modal/CheckPasswordModal.tsx
  client/src/components/modal/MemberRestoreModal.tsx
  client/src/components/modal/StudyInfoEditModal.tsx
  client/src/components/modal/UserInfoEditModal.tsx
  client/src/components/modal/ViewCalendarEvent.tsx
  client/src/components/studyManage/CandidateManage.tsx
  client/src/components/studyManage/MemberManage.tsx
  client/src/components/studyManage/StudyInfo.tsx
  client/src/hooks/useForceUpdate.ts
  client/src/hooks/useRefreshToken.ts
  client/src/mocks/handler.ts
  client/src/pages/Home.tsx
  client/src/pages/Login.tsx
  client/src/pages/Profile.tsx
  client/src/pages/ProfileCalendar.tsx
  client/src/pages/ProfileInfo.tsx
  client/src/pages/ProfileStudyList.tsx
  client/src/pages/ProfileStudyManage.tsx
  client/src/pages/SignUp.tsx
  client/src/pages/StudyContent.tsx
  client/src/pages/StudyList.tsx
  client/src/pages/StudyUpdate.tsx
  client/src/test/TestPage.tsx
Labels: FE

#346 스터디 작성 기본값, 태그 CSS 등
  client/src/components/TagDropdown.tsx
  client/src/components/TagInput.tsx
  client/src/components/gnb/GNB.tsx
  client/src/pages/StudyPost.tsx
  client/src/pages/StudyUpdate.tsx
Labels: FE

#348 Feat: 요일 입력값 정렬
  client/src/components/DaysOfWeek.tsx
  client/src/pages/StudyList.tsx
Labels: FE

#339 [수정] 개인 스케쥴 등록 시 not null 유효성 검사
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/dto/TimeRangeDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/utils/NickNameValidationUtility.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarMemberController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/CalendarMemberResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/CalendarStudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/TimeScheduleSingleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarMemberService.java
Labels: BE

#351 Design: favicon 추가
  client/index.html
  client/src/assets/favicon.ico
Labels: FE

#352 [수정] NPE 500 -> 400 예외처리
  server/edusync/src/main/java/com/codestates/edusync/config/SecurityConfiguration.java
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/MemberUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyCalendarUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupPostCommentUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyTimeScheduleUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarMemberController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarStudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarMemberService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/controller/StudygroupPostCommentController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/mapper/StudygroupPostCommentMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/service/StudygroupPostCommentManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/service/StudygroupPostCommentService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/controller/StudygroupJoinController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinService.java
Labels: BE

#360 design: 스터디 리스트 css 수정
  client/src/pages/StudyList.tsx
Labels: FE

#355 From FE to DEV
  client/index.html
  client/src/apis/CalendarApi.ts
  client/src/apis/CommentApi.ts
  client/src/apis/EduApi.ts
  client/src/apis/MemberApi.ts
  client/src/apis/StudyGroupApi.ts
  client/src/apis/TokenRequestApi.ts
  client/src/assets/favicon.ico
  client/src/components/DaysOfWeek.tsx
  client/src/components/ListFilter.tsx
  client/src/components/ProfileImg.tsx
  client/src/components/StudyComment.tsx
  client/src/components/StudyCommentList.tsx
  client/src/components/TagDropdown.tsx
  client/src/components/TagInput.tsx
  client/src/components/WaitingList.tsx
  client/src/components/calendar/Calendar.tsx
  client/src/components/gnb/GNB.tsx
  client/src/components/gnb/User.tsx
  client/src/components/modal/AddEvent.tsx
  client/src/components/modal/LoginAlertModal.tsx
  client/src/components/modal/MemberRestoreModal.tsx
  client/src/components/modal/StudyInfoEditModal.tsx
  client/src/components/modal/UserInfoEditModal.tsx
  client/src/components/modal/ViewCalendarEvent.tsx
  client/src/components/modal/ViewCustomCalendarEvent.tsx
  client/src/components/studyManage/CandidateManage.tsx
  client/src/components/studyManage/MemberManage.tsx
  client/src/pages/Login.tsx
  client/src/pages/ProfileInfo.tsx
  client/src/pages/ProfileStudyList.tsx
  client/src/pages/ProfileStudyManage.tsx
  client/src/pages/SignUp.tsx
  client/src/pages/StudyContent.tsx
  client/src/pages/StudyList.tsx
  client/src/pages/StudyPost.tsx
  client/src/pages/StudyUpdate.tsx
  client/src/recoil/atoms/LogInState.ts
  client/src/recoil/atoms/RenderingState.ts
Labels: FE

#361 Deploy issue
  client/src/apis/CalendarApi.ts
  client/src/components/DaysOfWeek.tsx
  client/src/components/calendar/Calendar.tsx
  client/src/components/modal/StudyInfoEditModal.tsx
  client/src/components/modal/ViewCalendarEvent.tsx
  client/src/components/modal/ViewCustomCalendarEvent.tsx
  client/src/pages/ProfileCalendar.tsx
  client/src/pages/ProfileStudyManage.tsx
  client/src/pages/StudyContent.tsx
  client/src/pages/StudyPost.tsx
  client/src/pages/StudyUpdate.tsx
Labels: FE

#359 [수정] 캘린더 리스트 조회 시 응답 추가
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/TimeScheduleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/TimeScheduleSingleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/mapper/CalendarMapper.java
Labels: BE

#362 Be -> Dev
  server/edusync/src/main/java/com/codestates/edusync/config/SecurityConfiguration.java
  server/edusync/src/main/java/com/codestates/edusync/exception/ExceptionCode.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/dto/TimeRangeDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/MemberUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyCalendarUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupPostCommentUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyStudygroupUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/common/utils/VerifyTimeScheduleUtils.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/service/MemberService.java
  server/edusync/src/main/java/com/codestates/edusync/model/member/utils/NickNameValidationUtility.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarMemberController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/controller/CalendarStudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/CalendarMemberResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/CalendarStudygroupDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/TimeScheduleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/dto/TimeScheduleSingleResponseDto.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/mapper/CalendarMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarMemberService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/plancalendar/service/CalendarStudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/controller/StudygroupPostCommentController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/mapper/StudygroupPostCommentMapper.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/service/StudygroupPostCommentManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/postcomment/service/StudygroupPostCommentService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/controller/StudygroupController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroup/service/StudygroupService.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/controller/StudygroupJoinController.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinManager.java
  server/edusync/src/main/java/com/codestates/edusync/model/study/studygroupjoin/service/StudygroupJoinService.java
Labels: BE, FE
